// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '../utils' as cp;
@use 'sass:color';
@import '~@mozilla-protocol/core/protocol/css/includes/lib';

// Homepaage

.c-careers-intro {
    background-color: cp.$teal-primary;
    padding: $layout-lg 0;
}

.c-careers-section {
    margin: $layout-xl auto;
}

.c-careers-diversity {
    background-color: cp.$teal-primary;
    padding: $layout-lg 0;
}

/* Locations */

.c-careers-locations {
    .mzp-c-video {
        margin: $spacing-2xl 0;

        iframe {
            display: block;
            margin: 0 auto;
        }
    }
}

// Diversity page
.c-careers-diversity-numbers {
    .mzp-c-picto-heading {
        @include text-title-xl;
    }
}

.c-careers-diversity-mrg {
    blockquote {
        p {
            @include text-body-lg;
        }
    }
}
